
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #333;
    text-align: center;
    padding: 10px 0;
}




/* Other hbs views */
.hero {
    background-image: url('https://images.pexels.com/photos/8581049/pexels-photo-8581049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #333;
    padding: 100px 0;
}


.completed {
    text-decoration: line-through;
}


.call-to-action-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.features {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.testimonial {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.testimonial blockquote {
    font-style: italic;
    color: #777;
}

form {
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table tr:hover {
    background-color: #f9f9f9;
}

