<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<style>
		body {
            background-color: #add8e6; 
        }
	</style>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/todos/new">Create Todo</a></li>
				<li><a href="/todos">List All Todos</a></li>
			</ul>
		</nav>
	</header>
